/* ------------ *\
    globel 
\* ------------ */
/* #06c */
/* #f6f6f6 */
/* #1d1d1f */
/* 8c8c8c */
/* d2d2d7 */
/* 0071E3 */
/* 424245 */
/* ------------ *\
    layout 
\* ------------ */

/* ------------ *\
    component
\* ------------ */

/* past-1 */
#part-1 .logo-section {
	height: calc(100vh - 98px);
}
#part-1 .logo-section .container {
	align-items: center;
	justify-content: center;
}
#part-1 .logo {
	max-width: 750px;
	width: 80%;
}
#part-1 .sticky-section {
	height: 200vh;
}
#part-1 .sticky-section .sticky-image {
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	overflow: visible;
}
#part-1 .phone {
	width: 50%;
	height: 100vh;
	position: absolute;
	top: 20px;
}
#part-1 .phone.left {
	right: 50%;
}
#part-1 .phone.right {
	left: 50%;
}
#part-1 .phone .image {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: top;
}
#part-1 .phone.left .image {
	background-image: url(../images/tw/hero/hero_iphone_14__esmpw7gjv46e_medium_2x.png);
	background-position-x: right;
}
#part-1 .phone.right .image {
	background-image: url(../images/tw/hero/hero_iphone_14_plus__fra3gmuj0aum_medium_2x.png);
	background-position-x: left;
}
/* text ain1 */
#part-1 .sticky-section .ani-section {
	width: 100%;
	display: flex;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}
#part-1 .ani-section1 .text {
	display: inline-block;
	font-size: 120px;
	font-weight: 600;
	position: absolute;
}
#part-1 .ani-section1 .text.left {
	/* transform: translate(50%, -50%) skew(180deg, 345deg) scale(0.7, 1); */
	transform: translate(50%, 100%) skew(180deg, 345deg) scale(0, 0);
	right: 62%;
}
#part-1 .ani-section1 .text.right {
	/* transform: translate(-50%, -100%) skew(180deg, 15deg) scale(0.7, 1); */
	transform: translate(-50%, 80%) skew(180deg, 15deg) scale(0, 0);
	left: 60%;
}
/* text ain2 */

#part-1 .ani-section2 .text {
	display: inline-block;
	font-weight: 600;
	position: absolute;
	top: 20%;
}
#part-1 .ani-section2 .text .product-name {
	font-size: 32px;
}
#part-1 .ani-section2 .text .product-size {
	font-size: 96px;
}
#part-1 .ani-section2 .text .product-size .unit {
	font-size: 0.6em;
}
#part-1 .ani-section2 .text.left {
	transform: translate(50%, -25%) skew(180deg, 345deg) scale(0.7, 1);
	/* transform: translate(-45%, -25%) skew(180deg, 345deg) scale(0.7, 1); */
	right: 61%;
}
#part-1 .ani-section2 .text.right {
	transform: translate(-50%, -30%) skew(180deg, 15deg) scale(0.7, 1);
	/* transform: translate(40%, -30%) skew(180deg, 15deg) scale(0.7, 1); */
	left: 60%;
}

/* text ain3 */
#part-1 .ani-section3 {
	align-items: center;
	justify-content: center;
	padding-bottom: 100px;
	perspective: 1000px;
	perspective-origin: 50% 50%;
	/* perspective: 800px;
	perspective-origin: 15% 150%; */
}
#part-1 .ani-section3 .control-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background: #000; */
	/* opacity: 0; */
	/* opacity: 1; */
	/* transform: scale(.1); */
	/* transform: scale(1); */
	/* transform: scale3d(2, 2, 1) rotateX(0) rotateY(0) rotateZ(0) translate3d(0px, 0px, 0px) skew(0, 0); */
	/* transform: scale3d(2, 2, 1.3) rotateX(5deg) rotateY(-50deg) rotateZ(0) translate3d(-12px, -10px, 0px) skew(0, 20deg); */
}
#part-1 .ani-section3 .battery-icon {
	width: 100px;
	height: 50px;
}
#part-1 .ani-section3 .battery {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#part-1 .ani-section3 .battery-outside {
	background-image: url(../images/overview/hero/hero_battery__jtsk5nz27w6e_medium_2x.png);
}
#part-1 .ani-section3 .battery-inside {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/overview/hero/hero_battery_fill__codbl8bf5u82_medium_2x.png);
}
#part-1 .ani-section3 .battery-inside:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0%);
}
#part-1 .ani-section3 .text {
	line-height: 1.2;
	font-weight: 600;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 50px;
}
